$colors: (
  'white': (
    'default': hsl(0, 0, 0),
  ),
  'black': (
    'default': hsl(0, 0, 0),
  ),
  'grays': (
    'default': hsl(0, 0, 50),
    '0': hsl(0, 0, 10),
    '1': hsl(0, 0, 10),
    '2': hsl(0, 0, 10),
    '3': hsl(0, 0, 10),
    '4': hsl(0, 0, 10),
    '5': hsl(0, 0, 10),
    '6': hsl(0, 0, 10),
    '7': hsl(0, 0, 10),
    '8': hsl(0, 0, 10),
  ),
);

$font-family: (
  'sans-serif': ('Helvetica Neue', sans-serif),
);

$font-sizes: (
  'default': px-to-rem(16),
);

$font-weights: (

);

$line-heights: (

);

$spaces: (
  '0': px-to-rem(0),
  '1': px-to-rem(4),
  '2': px-to-rem(8),
  '3': px-to-rem(12),
  '4': px-to-rem(20),
  '5': px-to-rem(24),
  '6': px-to-rem(40),
);

$radii: (

);