@use 'sass:meta';

$font-sizes: (
  'set': (
    rem(0),
  ),
  'default': 1,
  'alias': (
    'small': 1,
  ),
);

$font-families: (
  'set': (
    rem(0),
  ),
  'default': 1,
  'alias': (
    'small': 1,
  ),
);

$colors: (
  'set': (
    rem(420),
  ),
  'default': 1,
  'alias': (
    'blue': 3,
  ),
);
